<div class="row">
  <% current_user.journal.posts.reverse_order.each do |post| %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            <%= link_to post.title, journal_post_path(current_user.journal, post), :class => 'text-dark' %>
          </h5>
          <br/>
          <%= post.created_at %> || 
          Rating: <%= post.rating %> <br/>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= post.content.truncate(240) %>
          </p>
            <%= link_to 'Edit post', edit_post_path(post), :class => 'card-link' %>
            <%= link_to 'Delete post', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'card-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path, :class => 'btn btn-primary text-light' %>