<% unless current_user %>
<h2> Welcome to moody.</h2>
<div>We're a free journalling app that lets you track trends in your mood. </div>
<div>Why not take us for a spin? To get started, <%= link_to "sign up", new_user_registration_path%>!</div>

<% else %>
<h2>Welcome home, <%= current_user.name %>.</h2><br/>

<br/>
<% if current_user.journal %>
<h3> Most recent mood ratings </h3>
<%= line_chart current_user.journal.posts
               .group_by_day(:created_at, range: 2.weeks.ago.midnight..Time.now, time_zone: "Eastern Time (US & Canada)")
               .average(:rating),
               messages: {empty: "No ratings"},
               xtitle: "Date",
               ytitle: "Rating",
               max: 5 %>
<br/>

<h3> Recent Posts </h3>
<%= render 'shared/post_cards' %>
<br/>
<% else %>

<p> We're so glad you could make it. To get started, let's
  <%= link_to 'create your journal', new_journal_path %> 
  so you have somewhere to start posting!</p> 
<br/>
<% end %>
<% end %>