<div class="container">
<% if @journals.size == 0 %> 
<h2>Welcome, <%= current_user.name %>.</h2><br/>
<p> We're so glad you could make it. To get started, let's
  <%= link_to 'create your journal', new_journal_path %> 
  so you have somewhere to start posting!</p> 
<% else %>
<h2> Welcome back, <%= current_user.name %></h2>
  <% @journals.each do |journal| %>
  <div class="container">
      <h3><%= journal.title %></h3>
      <p><%= link_to 'Edit Journal Title', edit_journal_path(journal) %> || 
      <%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></p>

      <% if journal.posts.count != 0 %>
        <div class="row">
        <% journal.posts.reverse_order.each do |post| %>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">
                    <%= link_to post.title, journal_post_path(journal, post), :class => 'text-dark' %>
                  </h5>
                  <br/>
                  <%= post.created_at %> || 
                  Rating: <%= post.rating %> <br/>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <%= post.content %>
                  </p>
                </div>
              </div>
            </div>
        <% end %>
        </div>
      <% else %>
        <p><strong> It looks like you haven't written any entries yet! </strong></p>
      <% end %>
      <br/>
      <%= link_to 'New post', new_journal_post_path(journal), :class => 'btn btn-primary text-light' %>
    </div>
  <% end %>

  <br>
<% end %>
