<% if @journals.size == 0 %> 
  <%= link_to 'New Journal', new_journal_path %>
<% else %>
  <% @journals.each do |journal| %>
  <div class="container">
      <h3><%= journal.title %></h3>
      <p><%= link_to 'Edit Journal Title', edit_journal_path(journal) %> || 
      <%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></p>

      <% if journal.posts.count != 0 %>
        <% journal.posts.each do |post| %>
          <div class="card">
            <%= link_to post.title, journal_post_path(journal, post) %> || 
            <%= post.created_at %> || 
            Rating: <%= post.rating %> <br/>
            <p>
              <%= post.content %>
            </p>
          </div>
        <% end %>
      <% else %>
        <p><strong> It looks like you haven't written any entries yet! </strong></p>
      <% end %>
      <%= link_to 'New post', new_journal_post_path(journal), :class => 'btn'%>
    </div>
  <% end %>

  <br>
<% end %>
