<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :journal_id, value: current_user.journal.id %>

  <div class="field">
    <%= form.label :title %>
    <br/>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <em>(1-5)</em>
    <br/>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <br/>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :keywords %>
    <em>(if multiple, seperate with commas, ie "work, school")</em>
    <br/>
    <%= form.text_field :keywords %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
