<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title"><%= @post.title %></h2>
      <%= @post.created_at %> || Rating: <%= @post.rating %>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= @post.content %>
      </p>
      <p>
        <strong>Keywords:</strong> <em><%= @post.keywords %></em>
      </p>
      <p>
        <%= link_to 'Edit', edit_post_path(@post), :class => 'card-link'%> 
        <%= link_to 'Back', journal_posts_path(@post.journal_id), :class => 'card-link '%>
      </p>
    </div>
  </div>
</div>