<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.rating %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @post.keywords %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', journal_posts_path(@post.journal_id) %>
