<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">moody - a journalling app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, :class => 'nav-link'%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Journal</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Entries
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New entry</a>
            <a class="dropdown-item" href="#">View entries</a>
          </div>
        </li>
      </ul>
      <ul class="form-inline my-2 my-lg-0 navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "Settings", edit_user_registration_path, :class => 'dropdown-item' %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'dropdown-item'%>
            <% else %>
              <%= link_to "Log in", new_user_session_path, :class => 'dropdown-item' %>
              <%= link_to "Register", new_user_registration_path, :class => 'dropdown-item'%>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>